html, body {
	height: 100%; 
}

body { 
	margin: 0 auto;
	font: 14px Arial;
	background-color: #f2f4f8;
}

header {
	max-width: 100%;
	background-color: rgb(45,49,61);
	margin: 0 auto;
}

.header {
	max-width: 960px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.header-desktop {
	display: flex;
	justify-content: space-between;
	flex: 1;
}

.header-mobile-menu {
	display: none;
}

.logo {
	width: 32px;
	height: 20px;
	margin: 22px 0 18px 6px;
}

.personal-area {
	margin: 18px 0 18px 6px;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

.personal-area li {
	text-align: center;
	padding: 5px 15px;
}

.personal-area img {
	text-align: center;
	padding: 0 10px;
}

.personal-area-link {
	text-decoration: none;
	color: rgb(100,109,129);
}

.search-mobile {
	display: none;
}

.area-link-decor {
	border-bottom: 1px dashed;
	color: rgb(100,109,129);
}

.fas {
	font-size: 18px;
}

.menu-site-size {
	width: 100%;
	margin: 0 auto;
	background-color: rgb(100,109,129);
}

.menu-site-navi {
	text-align: left;
	display: flex;
	justify-content: flex-start;
	margin: 0px auto;
	list-style-type: none;
	max-width: 960px;
	padding: 12px 0px;
}

.menu-site-navi span {
	padding-right: 25px;
}

.menu-site-navi a:hover {
	border-top: 5px solid white;
}

.menu-site-navi a {
	text-decoration: none;
	color: white;
	padding: 7px 0 0;
}

.main {
	margin: 0 auto;
	max-width: 960px;
	box-shadow: 0 3px 10px #e0e2e6;
	background-color: white;
	display: flex;
	flex-direction: row;
	padding: 0;
}

.menu {
	display: flex;
	flex-direction: column;
	min-width: 170px;
	max-width: 170px;
	padding: 20px 0 0;
}

.menu div {
	
	list-style-type: none;
	cursor: pointer;
}

.menu div a:hover {
	border-left: solid rgb(128,128,128) 5px;
	color: black;
}

.menu div a {
	text-decoration: none;
	color: rgb(128,128,128);
	display: inline-block;
	padding: 9px 28px 9px 23px;
	border-left: 5px solid white;

}

.submenu {
	margin-top: 32px;
	font: 18px Georgia;
	padding: 9px 28px 9px 23px;
}

.content {
	border-left: 1px solid rgb(223,227,236);
	max-width: 100%; 
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

.content h1 {
	font: 30px Georgia;
	padding: 30px 0 20px 30px;
	margin: 0;
}

.content h1 span {
	border-bottom: 1px dashed;
}

.search {
	padding: 5px 30px;
	background-color: rgb(242,244,248);
	color: #99a1b3;
	display: flex;
	justify-content: space-between;
	max-width: 789px;
}

.search form input {
	padding-left: 10px;
	width: 280px;
	height: 40px;
	border: solid 1px #d6d9e1;
	border-radius: 5px;
	background: url('http://fe.it-academy.by/Sites/0013145/images/search.png') no-repeat 260px 9px;
	background-color: white;
}

.search-set {
	font: 12px Georgia;
	padding-top: 15px;
}

.search-set span {
	padding: 0 20px 0 0;
}

.fa-sliders-h {
	padding: 0 30px 0 40px;
}

.post {
	font: 12px Arial;
	margin: 30px;
	color: #99a1b3;
	display: flex;
	justify-content: flex-start;
	max-width: 100%;
}

.text {
	display: flex;
	flex-direction: column;
	padding: 0 10px;
	margin: 0;
}

.info {
	display: flex;
	justify-content: space-between;
}

.user-name {
	padding-right: 25px; 
}

.member {
	padding: 5px 15px;
	background-color: rgb(242,244,248);
	border-radius: 5px;
}

.fa-comments {
	font-size: 12px;
}

.comments {
	padding: 0 15px 0 5px;
}

.clock {
	padding-left: 5px;
}

h3 {
	font: bold 16px Arial;
	color: #4f9cd4;
	margin: 10px 0;
}

p {
	font: 14px Arial;
	color: black;
	margin: 0 0 10px;
	padding: 0;
}

.tags i {
	font-size: 12px;
}

.tags span {
	color: #99a1b3;
	padding-left: 5px;
}

.buttons {
	text-align: center;
	margin: 15px 15px 90px 15px;

}

.buttons a {
	text-decoration: none;
	color: black;
	border: solid 1px #99a1b3;
	border-radius: 4px;
	padding: 10px 15px;
}

.buttons a:first-child {
	margin: 10px;
}

.navigation {
	background-color: rgb(242,244,248);
	font: 12px Arial;
}

.navigation ul {
	list-style-type: none;
	margin: 0 0 0 28px;
	display: flex;
	justify-content: flex-start;
	padding: 0;
}

.navigation li {
	padding: 10px 10px;
	list-style-type: none;
	margin: 0px;
}

.navigation a {
	text-decoration: none;
	color: #99a1b3;
}

.about-site {
	margin: 1px 0 0;
	background-color: rgb(242,244,248);
	font: 12px Arial;
	display: flex;
}

.about-site img {
	padding: 14px 5px;
	margin-left: 28px;
}

.about-site span {
	padding: 14px 5px;
	color: #99a1b3;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
footer {
	max-width: 100%;
}

.dws-menu *{
	display: none;
 margin: 0;
 padding: 0;
}

.dws-menu > ul li a{
 	display: block;
 	background: rgb(45,49,61);
 	padding: 5px 15px;
 	font: 14px Arial;
 	color: white;
 	text-decoration: none;
 	transition: all 0.3s ease;
 	width: 80px;
 	text-align: center;
}

.toggleMenu {
	max-width: 50px;
}

.toggleMenu i {
	color: white;
	font-size: 20px;
	padding: 15px 5px;
}

.dws-menu [type="checkbox"],
.dws-menu label.toggleSubmenu{
 	display: none;
}

@media (max-width: 720px) {

	.search {
		padding: 5px 0 5px 30px;
	}

	.search-set span {
		padding: 15px 10px;
	}

	.fa-sliders-h {
		padding: 0 10px;
	}
}

@media (max-width: 640px) {

	.menu-site-size {
		display: none;
	}

	.menu {
		display: none;
	}

	.header-desktop {
		display: none;
	}

	.about-site {
		display: none;
	}

	form, .search-set {
		display: none;
	}

	.navigation {
		padding: 20px 10px;
		font: 14px Arial;
		display: flex;
		justify-content: space-between;
	}

	.navigation ul {
		margin: auto;
		text-align: center;
	}

	.header-mobile-menu {
		display: block;
		padding: 20px 10px;
		margin: 0 auto;
		z-index:  10;
	}

	.pop-menu i {
		font-size: 20px;
		color: white;
		padding: 10px 0 0;
		float: left;
	}

	.search-name {
		display: flex;
		justify-content: center;
	}

	.logotype {
		width: 60px;
		padding-top: 5px;
	}

	.search-name h3 {
		color: white;
		padding: 0 20px;
		font: 20px Arial;
	}

	.photo {
		.margin-left: 30px;
		width: 45px;
		height: 45px;
		border-radius: 5px;
	}

	.search-name i {
		color: white;
		padding: 12px 0 0 20px;
	}

	.content h1 {
		text-align: center;
		font: 34px Georgia;
	}

	.content h1 span {
		border-bottom: dashed 2px; 
	}

	.search-mobile {
		display: flex;
		margin: 0 auto;
	}

	.search-mobile i {
		font-size: 24px;
		padding: 10px 50px;
	}

	.info {
		display: flex;
		flex-direction: column;
	}

	.info div {
		padding: 5px 0;
	}

	.dws-menu * {
		display: block;
	}

 	.dws-menu{
 		display: inline-block;
 		overflow: hidden;
  		position: absolute;
 	}

 	.dws-menu ul{
 	 	display: block;
  		max-height: 0;
  		transition: max-height 0.3s;
 	}
 
 	.dws-menu label.toggleMenu{
  		display: block;
  		width: 50px;
 	}
 
 	input.toggleMenu:checked ~ ul,
 	input.toggleSubmenu:checked ~ ul{
  		display: block;
 		position: relative;
 	 	max-height: 5000px;
 		transition: max-height 3s ease-in;
 	}
}